<!DOCTYPE html>
<head>
  {% block head %}
    <title>Conteudo</title>
  {% endblock %}

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style-challenge2.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <body>
    <header>
      <div class="links__header">
        {% block link%} 
          <a href="/content">Cursos</a>
        {% endblock %}
        <a href="https://discordapp.com/invite/gCRAFhc" target="__blanked">RocketSeat Comunity</a>
        <a href="mailto:oi@rocketseat.com.br">Email</a>
        <a href="tel:+5547992078767">Telefone</a>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</head>