{% extends 'layout.njk' %}

{% block head%}
  <title>404 - Page Not Found</title>
{% endblock %}

{% block content%}

<div class="not-found">
  <h1>404</h1>
  <p>Ops... Página não encontrada</p>
</div>
{% endblock %}