{% extends 'layout.njk' %}

{% block head %}
  <title>Teachers</title>
{% endblock head %}

{% block content %}
  <div class="card_wrapper">
    <section class="card_image" style="background: url(https://source.unsplash.com/collection/8360382/500x500) no-repeat center center / cover"></section>
    <section class="card_detail">
      <h3>Informações</h3>

      <div class="items">
        <div>Nome</div>
        <div>Rodrigo José da Silva Cruz</div>
      </div>

      <div class="items">
        <div>Idade</div>
        <div>23</div>
      </div>

      <div class="items">
        <div>Grau de Escolaridade</div>
        <div>Superior completo</div>
      </div>

      <div class="items">
        <div>Modalidade do Curso</div>
        <div>Presencial</div>
      </div>

      <div class="items">
        <div>Cursos Lecionados</div>
        <div>
          <span>JavaScript</span>
          <span>React JS</span>
          <span>React Native</span>
          <span>Sass</span>
        </div>
        
      </div>

      <div class="items">
        <div>Data de ingresso</div>
        <div>18/03/2017</div>
      </div>
      
    </section>
  </div>
{% endblock content %}